@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.folha {
    background: url('/assets/img/folha.png');
    background-position: center;
    background-size: 11vh;
    background-repeat: repeat;
    width: 100%;
    height: 10vh;
    /* animation: floor-move 1.4s infinite linear; */
}
.fundo {
    background: url(/assets/img/floorMario.png);
    background-position: center;
    background-size: 11vh;
    background-repeat: repeat;
    width: 100%;
    height: 37.3vh;
    animation: pipe-animation 1.4s infinite linear;
}

.game-board {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.4s infinite linear; /*Velocidade do cano */ 
}

.mario{
    position: absolute;
    width: 150px;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute; /* Para não mudar a posição do mario */
    width: 550px;
    top: 16px; /*altura das nuvens */
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 190px;
    }

    60%{
        bottom: 170px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

.score{
    font-size: 2REM;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    background: black;
    width: 100px;
    text-align: center;
    border-radius: 5rem;
    margin: 10px;
    font-weight: 700;
}

/* @keyframes floor-move {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
} */